.question {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.questionQty {
  font-size: 12px;
  margin-bottom: 20px;
}

.answerButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}

.answerButton {
  background-color: #1a73e8;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
  width: 100%;
}

.answerButton:hover {
  background-color: #1558b3;
}

.timer {
  margin-top: 20px;
}

.endQuizButton {
  margin-top: 20px;
  background-color: #dc3545;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.endQuizButton:hover {
  background-color: #c82333;
}
