.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: #1a73e8;
  color: #fff;
  padding: 12px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 45%;
}

.button:hover {
  background-color: #1558b3;
}

@media (max-width: 500px) {
  .inputPanel {
    width: 90%;
  }
}
