.timerContainer {
  margin: 20px 0px;
  position: relative;
  border-radius: 4px;
  background-color: #424043;
  /* padding: 12px 20px; */
}

.progressBar {
  height: 100%;
  background-color: rgba(220, 53, 69, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.timerDisplay {
  font-size: 16px;
  text-align: center;
  /* line-height: 20px; */
  margin: 0px;
  color: #fff;
}
