@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Flex', sans-serif;
  line-height: 1.5;
  color: #424043;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  height: 100%;
}

:root {
  background-color: #c6ddf4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}
